.produit button {
  margin-top: 23px;
  background: #0055CC;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 6px 25px;
}

.produit span {
	color: #0055AA;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}

.produit h4 {
	color: #0055AA;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 300;
}

.produit {
	padding: 10px;
	border-radius: 5px;
	border:1px solid #cccccc;
}